.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.shape {
  height: 200px;
  width: 200px;
  border: 2px black solid;
}